{% extends 'links/base.html' %}

{% block content %}


<nav class="navbar center navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Amaze</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Total Discounted Products -> {{dp}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Total Items Being Tracked -> {{total_items}}</a>
        </li>
        <li>
        <a class="nav-link" href="#"></a>
        </li>
        <li>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Product
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Copy And Paste the Url here to start tracking your product
                    <br>
                    <form action="" method="POST" autocomplete="off" class="form-control">
                        {%csrf_token%}
                          <div class="mb-3">
                            {{form}}
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Save</button>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li>
        <a href="{% url 'update' %}">
            <button type="button" class="btn btn-secondary">
            Update
            </button>
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>

{% for product in products %}

<div class="card text-center">
  <div class="card-header">
    {% if product.price_diff > 0 %} Price Raised
    {% elif product.price_diff < 0%} <p class="success">Discounted </p>
    {% else %} Same
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">Current Price -> {{product.current_price}} || Previous Price -> {{product.old_price}} || Price Difference -> {{product.price_diff}}</p>
    <a href={{product.url}} class="btn btn-primary">Buy Now</a>
    <a href="{% url 'delete' product.pk %}"><button type="button" class="btn btn-danger"> Delete</button></a>
  </div>
  <div class="card-footer text-muted">
    Added On -> {{product.created}} || Updated on -> {{product.updated}}
  </div>
</div>
<br>
{% endfor %}
{% endblock content %}